<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}" convertWriteToEvent="true">
        <!--
        Writes to the console output or error stream, using color to highlight 
        event types and allowing a customised output format.
        See: http://essentialdiagnostics.codeplex.com/wikipage?title=ColoredConsoleTraceListener
      -->
      </add>
    </sharedListeners>

    <trace autoflush = "true" indentsize="0">
      <listeners>
        <!--
        Legacy Trace.Write() statements(not using a TraceSource).
        Turn indent off to avoid confusion for multithreaded traces,
        and clear the default listener for performance.
      -->
        <clear />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>