<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" 
         connectionString="Data Source=TEST.ORA5;User ID=cisrk_edu;Password=vf" 
         providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
</configuration>