<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<bltoolkit>
    <dataProviders>
      <add type="BLToolkit.Data.DataProvider.OdpDataProvider, BLToolkit.Data.DataProvider.Oracle.4" />
    </dataProviders>
  </bltoolkit>-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TEST.ORA5;User ID=cisrk_edu;Password=vf" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BLToolkit.4" publicKeyToken="b1d3f6ab3aadaca3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.21.0" newVersion="4.1.21.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>